{% extends "layout.html" %}
{% block content %}
 {% if current_user.is_authenticated %}
    <a href={{ url_for('posts.new_post') }}>
        <button class="btn btn-light home_button mb-3" type="submit">What's on your mind?</button>
    </a>
{% endif %}
    {% for post in posts.items %}
<article class="media content-section">
    <img class="rounded-circle article-img mr-2" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a style="color:rgba(8, 8, 8, 1);" class="mr-2" href="{{ url_for('users.account', account_id=post.author.id) }}">{{ post.author.username}}</a><b>.</b>
            <time class="text-muted"> {{ post.date_posted.strftime('%B %d') }}</time>
        </div>
        <h4><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
    </div>
</article>
    {% endfor %}



    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
<a class="btn btn-primary btn-sm mb-4 disabled" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
<a class="btn btn-outline-primary btn-sm mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
