<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="content-section" id="isbn_form">
    <form action="">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="isbn" placeholder="Enter ISBN-10 or ISBN-13 code" required>
                <div id="isbn-feedback"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-success">Fetch Book</button>
            </div>
        </div>
        <small>Please <strong>omit hyphens</strong> after entering ISBN. For more info on ISBNs <a target="_blank" href="https://www.morrispublishing.com/self-publishing/products/technical-details/bar-codes/">Learn more</a></small>
    </form>
</div>

<div class="content-section" id="book_form">
    <fieldset>
        <legend style="text-align:center;" id="legend" class="border-bottom"></legend>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <img src="" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-9">
                    <h6 id="description"></h6>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label class="form-control-label" for="categories">Categories</label>
                    <input type="text" class="form-control" id="categories" required>
                </div>
                <div class="col-md-6">
                    <label for="date">Published Date</label>
                    <input type="text" class="form-control" id="date" required>
                </div>
            </div>
        </div>
    </fieldset>
    <button class="btn btn-success" type="submit">Sell This Book</button>
</div>
{% endblock %}
{% block script %}
<script>
    $("#book_form").hide();
    $('#isbn_form').on('submit', function (event) {
        event.preventDefault();
        $isbn = $('#isbn').val();
        fetch("https://www.googleapis.com/books/v1/volumes?q=isbn:" + $isbn)
            .then(function (response) {
                return response.json();
            })
            .then(function (result) {
                try {
                    $('#isbn').removeClass("is-invalid");
                    result = result.items[0].volumeInfo;

                    $('#title').val(result.title);
                    $('#authors').val(result.authors);
                    $('#categories').val(result.categories);
                    $('#date').val(result.publishedDate);
                    $('#description').text(result.description);
                    $('#legend').text(result.title + " by " + result.authors);
                    $(".img-thumbnail").attr("src", result.imageLinks.smallThumbnail);

                    $("#book_form").show();
                } catch (error) {
                    $("#book_form").hide();
                    $('#isbn').addClass("is-invalid");
                    $('#isbn-feedback').addClass("invalid-feedback").text('Invalid ISBN code.');
                }
            })
    });
</script>
{% endblock script %}
