<h4>Dear {{ user.username }},</h4>
<div style=" color: #3f3f44;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 30px;
        padding: 0;
        padding-bottom: 0 !important;
        text-align: left;">

    <p>
        To reset your password visit the following link - 
        <a href="{{ url_for('users.reset_token', token=token, _external=True) }}">
            reset password
        </a>.
    </p>
    <p>If you did not make this request then simply ignore this email and no changes will be made.</p>
    <p>Sincerely,</p>
    <p>The Reminder Team</p>
</div>