<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Spotify to Youtube Tracks</legend>
            <div class="form-row">
                <div class="col">
                    {{ form.link(class="form-control", placeholder="https://open.spotify.com/playlist") }}
                </div>
                <div class="col">
                    {{ form.category(class="form-control") }}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>

    </form>
</div>
<small class="text-muted ml-2">
    Download Spotify playlist the easy way.
</small>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='spotify.js') }}" crossorigin="anonymous"></script>
{% endblock script %}
