{% extends "layout.html" %}
{% block content %}
<div class="ml-1">
    <div class="media">
        <img class="rounded-circle account-img" src={{ image_file }}>
        <div class="media-body">
            <h4 class="account-heading">{{ account.username }}</h4>
            <small class="text-secondary">{{ account.email }}</small>
        </div>
    </div>
</div>

{% for post in account.posts %}
<article style="border-radius:10px;" class="media content-section mt-3">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">Posted on  {{ post.date_posted.strftime('%B %d') }}</small>
        </div>
        <h5><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h5>   
    </div>
</article>
{% endfor %}

    {% endblock content %}

