<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<div class="mb-5" style="text-align: center;">
    <img style="height:60px; width:60px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Apple_Books_%28macOS%29.svg/768px-Apple_Books_%28macOS%29.svg.png"><br />
    <p style="color: #666;">
        The BlogChef Books is a single, beautiful destination for all the books you love, and the ones you’re about to. 
        Browse the Book Store via ISBN, create your own books PDF collections and get to them easily at any time. 
    </p>
</div>

<div id="isbn_form">
    <form action="">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="isbn" placeholder="Enter ISBN-10 or ISBN-13 code" required>
                <div id="isbn-feedback"></div>
            </div>
            <div class="form-group">
                <button class="auth-user btn">Continue</button>
            </div>
        </div>
        <small style="color: #666;">Please <strong>omit hyphens</strong> after entering ISBN. For more info on ISBNs <a target="_blank" href="https://www.morrispublishing.com/self-publishing/products/technical-details/bar-codes/">Learn more</a></small>
    </form>
</div>

<div style="display:none;" class="content-section" id="book_form">
    <fieldset>
        <legend style="text-align:center;" id="legend" class="border-bottom"></legend>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <img src="" alt="" class="img-thumbnail">
                </div>
                <div class="col-md-9">
                    <h6 id="description"></h6>
                </div>
            </div>
        </div>
        <div class="form-group">
            <small><a class="alert-link" style="text-decoration-style: solid;" href="" target="_blank">Checkout this book's reviews!</a></small>
        </div>
    </fieldset>
    <button class="btn btn-success download" type="submit">Download Book</button>
</div>
<span style="display:none;" id="span"></span>
{% endblock %}
{% block script %}
<script>
    $("#book_form").hide();
    $('#isbn_form').on('submit', function (event) {
        event.preventDefault();
        $isbn = $('#isbn').val();
        fetch("https://www.googleapis.com/books/v1/volumes?q=isbn:" + $isbn)
            .then(function (response) {
                return response.json();
            })
            .then(function (result) {
                $('#isbn').removeClass("is-invalid");
                result = result.items[0].volumeInfo;
                const title = result.title;

                $('#description').text(result.description);
                $('#span').text(title);
                $('#legend').text(title + " by " + result.authors);

                const convert = title.replace(/\s/g, "-").toLowerCase() + "-books.html";
                console.log(convert);
                $(".img-thumbnail").attr("src", result.imageLinks.smallThumbnail);
                $(".alert-link").attr("href", result.infoLink);

                $("#book_form").show();
            }).catch(function (error) {
                $("#book_form").hide();
                $('#isbn').addClass("is-invalid");
                $('#isbn-feedback').addClass("invalid-feedback").text('Invalid ISBN code.');
            });
    });

    $(".download").on('click', function (event) {
        event.preventDefault;
        const title = $("#span").text()
        const convert = title.replace(/\s/g, "-").toLowerCase();

        window.open("https://www.pdfdrive.com/" + convert + "-books.html", "_blank");

    });
</script>
{% endblock script %}
