{% extends "layout.html" %}
{% block content %}
    <p style="color: #666;">Already have an BlogChef ID? <a style="color: #06c;" href="{{ url_for('users.login') }}">Find it here &#62;</a></p>
<div class='content-section'>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h1 class="border-bottom mb-4">Join Today.</h1>
            <div class="form-group">
                <h5>{{ form.username.label(class='form-control-label') }}</h5>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <h5>{{ form.email.label(class="form-control-label") }}</h5>
                {{ form.email(class="form-control", placeholder="name@example.com", onchange="checkEmailValidity()") }}
                <div id="email-feedback"></div>
            </div>
            <div class="form-group">
                <h5>{{ form.password.label(class='form-control-label') }}</h5>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <h5>{{ form.confirm_password.label(class='form-control-label') }}</h5>
                {{ form.confirm_password(class="form-control", onchange="checkConfirmPassword()") }}
                <div id="password-feedback"></div>
            </div>
        </fieldset>
        <div class="mb-1" style="text-align: center;">
            <img style="height:28px; width:35px;" src="https://appleid.cdn-apple.com/static/bin/cb230738313/dist/assets/privacy-icon@2x.png"><br />
            <small style="color: #666;">Your BlogChef ID information is used to allow you to sign in securely and access your data.</small>
        </div>
        <div class="form-group">
            {{ form.submit(class='auth-user btn')}}
        </div>
    </form>
</div>

{% endblock content %}
{% block script %}
<script src="{{ url_for('static', filename='login.js') }}" crossorigin="anonymous"></script>
{% endblock script %}