{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="mb-1" style="text-align: center;">
            <img style="height:60px; width:60px;" src="https://appleid.cdn-apple.com/iforgot/static/bin/cb7953610/dist/assets/profile.svg"><br />
            <p style="color: #666;">You’ve come to the right place to reset a forgotten password. For your security,  
            enter the email address associated with your account, and we’ll send a magic link to your inbox.</p>
        </div>
       
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h1 class="mb-5" style="text-align: center;">Having trouble signing in?</h1>
                <div class="form-group">
                    {{ form.email(class="form-control", placeholder="Enter your BlogChef ID to get started.", onchange="checkEmailValidity()") }}
                    <div id="email-feedback"></div>
                </div>
            </fieldset>
            <div id="show-error" role="alert"></div>
            <div class="form-group">
                {{ form.submit(class="auth-user btn") }}
            </div>
        </form>

    </div>
{% endblock content %}
{% block script %}
    <script>
        function checkEmailValidity() {
            email = $('#email').val();
            let re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (re.test(email)) {
                $('#email').removeClass("is-invalid");
                $(".btn").prop('disabled', false);
            } else {
                $('#email').addClass("is-invalid");
                $('#email-feedback').addClass("invalid-feedback").text('Invalid email address.');
                $(".btn").prop('disabled', true);
            }
        }
    </script>
{% endblock script %}
