<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<div class="mb-5" style="text-align: center;">
    <img style="height:60px; width:60px;" src="https://cdn.freelogovectors.net/svg07/apple_music_logo.svg"><br/>
    <h1>The music you love. On the go.</h1><br />
    <p style="color: #666;">
        Discover all the playlists you want to hear, download or share from Spotify.
        The MusicChef allows you to download tracks on your device so that you can hear them
        anytime, anywhere and without any interruption.<br/>
        <b>Download Spotify playlists the easy way.</b>
    </p>
</div>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-row">
                <div class="col">
                    {{ form.link(class="form-control", placeholder="Enter your favourite spotify playlists URL.") }}
                </div>
            </div>
        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class="btn", id="continue") }}
        </div>
    </form>
</div>
{% endblock %}
